body {
    margin: 0%;
}

header {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: Arial;


}

.tittle_header {
    font-size: 24px;
    font-weight: bold;

}

.f2{
    margin-right: 20px;
    align-items: center;
}

.section-row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 23px;
}
#sr1{
    width: 421px;
    height: 500px;
}




article {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.bi-lightning-fill {
    color: goldenrod;
}

.footer2 {
    display: grid;
    grid-template-columns: 2.4fr 2.4fr 2.4fr 2.4fr 2.4fr;
    padding: 28px;
    font-family: Arial;
    background-color: black;
    color: white;
}

.footer-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.title {
    font-size: 17px;
    font-weight: bold;
}

.title {
    font-weight: bold;
    margin-bottom: 20px;
}

.title~div {
    margin-bottom: 15px;
}

h2 {
    background-color: black;
    color: white;
    padding: 28px;
    display: grid;
    text-align: center;
    margin: 0%;
    padding-top: 105px;
}

.inpu {
    background-color: black;
    color: white;
    padding: 28px;
    /* display: grid;
    grid-template-columns:3fr 4fr 2fr 3fr;
    align-items: center; */
    display: flex;
    justify-content: center;
    margin: 0%;
}

.input1 {
    background-color: rgb(64, 63, 63);
    color: white;
    width: 400px;
    padding: 12px;
    font-size: 23px;
    margin-right: 6px;
    border: none;
    /* cursor: grab; */
    font-family: Arial;
}

.subscribe {
    background-color: rgb(119, 116, 116);
    color: white;
    padding: 23px;
    border: none;
    padding-left: 32px;
    padding-right: 32px;
}

.subscribe:hover {
    background-color: aqua;
    color: black;
    /* font-size: 19px; */
    cursor: grab;
    /* transition: 1s; */
}

.col-auto {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 9fr 3fr;
    border-top: solid 0.5px rgb(34, 32, 32);
    padding: 23px;

}

.imgs {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.f2 {

    margin-left: 32px;
    margin-bottom: 66px;
    /* flex-wrap: wrap; */

}

#ff {
    width: 120px;
}

.shopper-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#si {
    width: 170px;
    height: 170px;
    margin-left: 11px;
    margin-bottom: 55px;
    margin-top: 65px;
}

main {
    background-color: rgb(248, 245, 245);
    color: black;
    height: 515px;
}

.shopper-title {
    font-size: 40px;
    font-weight: bold;
    font-family: Arial;
    text-align: center;

    padding-top: 44px;
}

.sho-p {
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    color: gray;
    margin-top: 34px;
}
.features{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 44px;
    margin-bottom: 44px;
    border-bottom: solid 1px rgb(226, 224, 224);
}
.feat-1{
    margin-left: 54px;
}
.f2{
    color: rgb(178, 4, 4);
}

.fea3{
    margin-left: 34px;
    color: gray;
    margin-top: 17px;
    margin-bottom: 44px;

}
.section-row2{
    text-align:center;
    margin: 100px;
}
.sr2-header{
    font-size: 34px;
    font-weight: bold;
    font-family: Arial;
    margin-top: 18px;
}
.sr2{
    font-weight: bold;
    color: gray;
    font-size: 14px;
}
.sr2-p{
    font-size: 18px;
    color: #525252;
}
.section-row3{
    display: grid;
    grid-template-columns: 4fr 8fr;
    margin-left: 98px;
    margin-bottom: 44px;
}
#sr-imgs{
    height: 400px;
}
/* .sr-imgs1{
    overflow: hidden;
    border: solid 0.01px white;
    transition: 1s;

}
.sr-imgs1:hover{
    width:480px;
    transition: 1s;
    overflow: hidden;
} */
#sr-img1{
    margin-right: 20px;
    width: 700px;
    height: 400px;
   
    transition:1s;
    border: solid 0.01px white;
    
    
}
#sr-img2{
    margin-right: 20px;
    width: 700px;
    height: 400px;
  
    transition:1s;
  
    
}
#sr-img1:hover{
    width: 710px;
    /* cursor: grab; */
    transition: 1s;


}

.section-row4{
    text-align: center;
    padding: 34px;
    margin-bottom:34px;
}
.wmk{
    display:flex;
    justify-content:center;
}
.wmk1{
    margin-left: 32px;
    margin-top: 34px;
    
    
}
a{
    color: black;

}
.sr2-header1{
    margin-left: 32px;
    font-size: 34px;
    font-weight: bold;
    font-family: Arial;
    margin-top: 18px;
    
}
.wmk1:active{
    color: rgb(229, 14, 82);
}
.section-row5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 64px;
}
#sr5{
    width: 250px;
    height: 300px;
    margin: 24px;

}
.sr51{
    margin-left:24px;
}
.sr5i{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
.sr5ii{
    font-size: 16px;
    font-family: Arial;
    margin-top: 7px;


}
.title6{
    display: flex;
    justify-content: center;
    margin-top:55px;
    margin-bottom:0%;
    font-size: 23px;
    font-weight: bold;
}
.boder1{
    border-bottom: solid 0.2px grey;
    margin-left: 560px;
    margin-right: 560px;
    margin-top: 0%;
    margin-bottom: 56px;
    transition: 1s;
    overflow: hidden;

}
.boder1:hover{
    margin-left: 720px;
    margin-right: 400px;
    transition: 1s;
    border-right: none;
    overflow: hidden;
}
#sc1{
    width: 1263px;
    height: 600px;
}
.Reviews{
    margin: 64px;
}
.re-title1{
    color: gray;
    text-align: center;
    margin-bottom: 12px;
}
.re-title2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.re-header{
    display: grid;
    grid-template-columns:6fr 6fr;
}
.reviews2{
    border: solid 1px rgb(213, 212, 212);
    /* box-shadow: 2px 2px 2px gray; */
    width: 300px;
    /* height: 400px; */
    padding: 33px;
    margin-top: 44px;

}
.Reviews1{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin-top: 53px;
}
.re-body ,.re-footer{
    color: gray;
}
.bi{
    color: gold;
}
.dot-parent{
    display: flex;
    justify-content: center;
}
.dot{
    border:dotted grey 10px;
    border-bottom: none;
    width: 60px;
    
}
.banner-row-1 {
    display: grid;
    grid-template-columns: 4fr 8fr;
    height: 400px;
 }
 .row-1-left {
    background-image: url("https://yevgenysim-turkey.github.io/shopper/assets/img/products/product-1.jpg");
    background-size: cover;
    margin-left: 80px;
 }
 .row-1-right {
    background-image: url("https://yevgenysim-turkey.github.io/shopper/assets/img/products/product-2.jpg");
    background-size: cover;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
 }
 .offer {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: red;
    color:white;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
 }
 .banner-row-2 {
    display: grid;
    grid-template-columns: 8fr 4fr;
    height: 400px;
    margin-top: 33px;
 }
 .row-2-right {
    background-image: url("https://yevgenysim-turkey.github.io/shopper/assets/img/products/product-4.jpg");
    background-size: cover;
    margin-right: 20px;
 }
 .row-2-left {
    background-image: url("https://yevgenysim-turkey.github.io/shopper/assets/img/products/product-3.jpg");
    background-size: cover;
    margin-right: 20px;
    margin-left: 80px;
    position: relative;
 }

 .img-box{
    position:relative;

 }
 .button-shop{
    position: absolute;
    top: 85%;
    left: 45%;
    
 }
 
 .img-text{
    position:absolute;
    top: 50%;
    left: 50%;
    font-size: 23px;
    font-weight: bold;
    color: azure;
 }